@font-face {
    font-family: Grebnev;
    src: url(../../../res/fonts/GrebnevUCS.ttf);
  }

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;
}

.white-screen {
    position: relative;
}

.title {
    font-size: 60pt!important;
    font-family: Grebnev;
    margin-top: 50px;
}

.title::first-letter {
    color: red;
  }